@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'aos/dist/aos.css';
/* @import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Tahoma', 'Vazirmatn', sans-serif;
  @apply bg-indigo-50 text-indigo-800;
}

html {
  scroll-behavior: smooth;
}

.swiper {
  direction: rtl;
}
