@import 'swiper/css';
@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Tahoma', 'Vazirmatn', sans-serif;
  @apply bg-indigo-50 text-indigo-800;
}

html {
  scroll-behavior: smooth;
}

.swiper {
  direction: rtl;
}
